### Django ###
*.pot
static/
media/
# 로컬 환경 설정 저장 파일
study/settings/properties.json


### Database(SQLite3) ###
db.sqlite3

### npm installed packages ###
node_modules

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*$py.class


### Virtual or Custom Env ###
venv/
my_env/


### Git files ###
.git/


### Intellij ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839
.idea/


### etc ###
### macOS ###
.DS_Store
.AppleDouble
.LSOverride
